﻿<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")
    @Styles.Render("~/Content/css")  
</head>
<body style="height:95%; margin-top:40px">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav pull-left">
                    <li>@Html.ActionLink(ViewsResources.SharedStrings.Main, "Index", "Shared")</li>
                    <li class="divider-vertical"></li>
                    <li>
                        @using(Html.BeginForm("Search", "Shared", FormMethod.Post, new { @class="navbar-form" }))
                        {
                            <div class="input-append">
                                @Html.TextBox("searchText", null, new{ type="text", @class="span2"})
                                <button type="submit" class="btn">@ViewsResources.SharedStrings.Search</button>
                            </div>
                        }
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @ViewsResources.SharedStrings.ColorTheme
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" id="white">@ViewsResources.SharedStrings.White</a>
                            </li>
                            <li>
                                <a href="#" id="black">@ViewsResources.SharedStrings.Black</a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @ViewsResources.SharedStrings.Language
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("English", "Language", "Shared", new { returnUrl = Request.RawUrl, language = "en" }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Русский", "Language", "Shared", new { returnUrl = Request.RawUrl, language = "ru" }, null)
                            </li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    @if (Membership.GetUser() != null)
                    {
                        if (Roles.IsUserInRole("User") || Roles.IsUserInRole("Administrator"))
                        {
                            <li>
                                @Html.ActionLink(ViewsResources.SharedStrings.MyPage, "UserTasks", "User")
                            </li>
                        }
                    }                  
                </ul>
                <ul class="nav pull-right">
                @if(Membership.GetUser() == null)
                {
                    <li>@Html.ActionLink(ViewsResources.SharedStrings.Log_in, "Login")</li>
                }
                else
                {
                    <li>@Html.ActionLink(ViewsResources.SharedStrings.Log_out, "Logout", "User")</li>
                }
                </ul>
            </div>
        </div>
    </div>
    <div class="container container-white" id="body-container" style="min-height:100%" >
        @RenderBody()
    </div>    
    @RenderSection("scripts", required: false)
</body>
</html>
