﻿@model MVC_UI.Models.TaskWithAnswerModel
<script type="text/javascript">
</script>   
@using (Ajax.BeginForm("ToAnswer", "Shared", new AjaxOptions{ HttpMethod = "Post", UpdateTargetId = "myanswer", Url = Url.Action("ToAnswer", "Shared")}))
{
    @Html.HiddenFor(m => m.Id)
    @Html.TextAreaFor(m => m.MyAnswer, new{ rows = 5, @class = "span9", id="ansArea", style = "resize:vertical; width:750px" })
    <input type="submit" id="sendBtn" class="btn btn-primary" value="@ViewsResources.SharedStrings.ToAnswer" /> 
    @Html.ValidationSummary("", new { @class = "alert alert-error", style = "width:715px" })
    if (ViewData["goodans"] != null)
    {
        <div class="alert alert-success span8" style="margin-top:15px; margin-left:10px; width:715px">
            @ViewData["goodans"].ToString()
        </div>
    }   
}