﻿@using MVC_UI.Resources.Views
@using ViewsResources
@model MVC_UI.Models.AuthenticationModel
@{
    ViewBag.Title = ViewsResources.SharedStrings.Auth;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function() {
        $("#resend").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("data-url") + "/" + $("#Login").val(),
                success: function(data) {
                    $('#myModal').modal('show');
                    $("#error-text").text(data.value);
                }
            });
        });
    });
</script>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">@AdminPageStrings.EmailResendStatus</h3>
        </div>
        <div class="modal-body">
            <p id="error-text"></p>
        </div>
    </div>

<div class="span6 well" style="margin:220px">
    @using(Html.BeginForm("Authenticate", "Shared", FormMethod.Post))
    {
        <legend>@SharedStrings.PasteKey</legend>
        <p>@SharedStrings.Key</p>
        @Html.TextBoxFor(m => m.Key, null, new {@class = "span6"})
        <p>@SharedStrings.Login</p>
        @Html.TextBoxFor(m => m.Login, null, new {@class = "span6"})
        <div>
            @Html.ValidationSummary("", new {@class = "alert alert-error"})
        </div>
        <input type="submit" value="@SharedStrings.Send" class="btn" />
        
        <button id="resend" disableValidation="true" data-url="@Url.Action("Resend", "Admin")" class="btn" >
            @AdminPageStrings.Resend
        </button>
    }
</div>