﻿@model MVC_UI.Models.LoginModel

@{
    ViewBag.Title = ViewsResources.SharedStrings.Log_in;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span10 well" style="margin:70px 0px 0px 60px">
    @Html.ValidationSummary("", new { @class = "alert alert-error" })
        
    @using (Html.BeginForm("SignIn", "Shared", FormMethod.Post, new { @class = "form-horizontal" }))
    {   
        <legend>@ViewsResources.SharedStrings.Log_in</legend>
        <div class="control-group">
            <label class="control-label">@ViewsResources.SharedStrings.Login</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Login, new {placeholder = ViewsResources.SharedStrings.Login, type = "text"})
                @Html.ValidationMessageFor(m => m.Login)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@ViewsResources.SharedStrings.Password</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Password, new {placeholder = ViewsResources.SharedStrings.Password, type = "password"})
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe) @ViewsResources.SharedStrings.Remember_me
                </label>
                <button style="margin-top:10px; margin-bottom:10px" type="submit" class="btn">@ViewsResources.SharedStrings.Sign_in</button>
                <div>                 
                    @Html.ActionLink(ViewsResources.SharedStrings.Register, "Registration")
                </div>
            </div>
        </div>
    }   
</div>
