﻿@using BusinessEntities
@using MVC_UI.Resources.Views
@model MVC_UI.Models.MainModel
@{
    ViewBag.Title = ViewsResources.SharedStrings.Main;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $(document).on("click", ".page-button", function (e) {
            e.preventDefault();
            var url = $(this).attr("data-url");
            $("#tasks").load(url);
            return false;
        });
    });
</script>

<div class="row-fluid">
    <div class="row-fluid" style="margin-left: 35px">
        <div class="span4" style="margin-bottom: 0px; margin-right: 0px">
            @Html.Action("TagsCloud", "Admin")
        </div>
        <div class="span7">@Html.Action("Popular", "Admin")</div>
    </div>  
    <div class="row-fluid" id="tasks">
        @Html.Action("PagedTasks", "Admin", new { page = 0 })
    </div>
    
</div>
