﻿@model MVC_UI.Models.RegisterModel
@{
    ViewBag.Title = ViewsResources.SharedStrings.Register;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span10 well" style="margin:70px 0px 0px 60px">
    @Html.ValidationSummary("", new { @class = "alert alert-error" })

    @using(Html.BeginForm("Register", "Shared", FormMethod.Post, new {@class="form-horizontal"}))
    {
        <legend>@ViewsResources.SharedStrings.Register</legend>
        <div class="control-group">
            <label class="control-label">@ViewsResources.SharedStrings.Login</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Login, new {placeholder = ViewsResources.SharedStrings.Login, type = "text", id = "registerLogin"})
                @Html.ValidationMessageFor(m => m.Login, null, new { id="validLogin" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">E-mail</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "E-mail", type = "text"})
                @Html.ValidationMessageFor(m => m.Email, null)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@ViewsResources.SharedStrings.Password</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Password, new { placeholder = ViewsResources.SharedStrings.Password, type = "password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" id="register" class="btn">@ViewsResources.SharedStrings.Register</button>
            </div>
        </div>
    }
</div>