﻿@model MVC_UI.Models.RemovedUserModel

@{
    ViewBag.Title = ViewsResources.SharedStrings.Restore;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span6 well" style="margin:220px">
    @using(Html.BeginForm("Restore", "Shared", FormMethod.Post))
    {
    <legend>@ViewsResources.SharedStrings.Removed</legend>
    <literal>@ViewsResources.SharedStrings.Login</literal>
    @Html.TextBoxFor(m => m.Login, null, new { @class = "span6" })
    <literal>@ViewsResources.SharedStrings.Password</literal>
    @Html.TextBoxFor(m => m.Password, null, new { @class = "span6", type = "password" })
    <div>
        @Html.ValidationSummary("", new { @class = "alert alert-error" })
    </div>
    <input type="submit" value="@ViewsResources.SharedStrings.Restore" class="btn" />
    }
</div>