﻿@using BusinessEntities
@using MVC_UI.Resources.Views
@model IEnumerable<Tag>

<script src="~/Scripts/jquery.tagcanvas.min.js" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {

        if (!$('#myCanvas').tagcanvas({
            textFont: 'Impact,"Arial Black",sans-serif',
            textColour: '#00f',
            textHeight: 19,
            outlineColour: '#f60',
            outlineThickness: 5,
            outlineOffset: 1,
            outlineMethod: 'block',
            maxSpeed: 0.06,
            minBrightness: 0.1,
            depth: 0.95,
            pulsateTo: 0.2,
            pulsateTime: 0.75,
            decel: 0.9,
            reverse: true,
            hideTags: false,
            shadow: '#ccf',
            shadowBlur: 3,
            wheelZoom: false,
        })) {
            $('#myCanvasContainer').hide();
        }
    });
</script>

<style type="text/css">
    .radius
    {
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
    </style>

<div style="width: 310px; margin-top: 35px;">
    <legend style="color: gray">@AdminPageStrings.TagsCloudCaption</legend>
    <canvas width="300" height="310" id="myCanvas" class="radius" style="background-color: rgba(255, 255, 255, 0.2)">
        <p>@AdminPageStrings.TagsCloudNotAvailable</p>
        <ul>
            @foreach (var tag in Model)
            {
                <li>@Html.ActionLink(tag.Text, "Tag", "Shared", new {name = tag.Text}, new
                        {
                            data_weight = tag.Tasks.Sum(task => task.Likes.Count)
                        })</li>
            }
        </ul>
    </canvas>
</div>
