﻿@using BusinessEntities
@using MarkdownSharp
@model MVC_UI.Models.TaskWithAnswerModel

@{
    ViewBag.Title = Model.BaseTask.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".collapse").collapse();
    })
</script>
<div class="well" style="margin:35px">
    <i class="icon-tags"></i>
    @foreach(Tag tasktag in Model.BaseTask.Tags)
    {
        @Html.ActionLink(tasktag.Text, "Tag", new { name = tasktag.Text })
        if(Model.BaseTask.Tags.ElementAt(Model.BaseTask.Tags.Count - 1) != tasktag)
        {   
            <i style="margin-right:5px">,</i>
        }
    }
</div>
<div class="well" style="margin:35px; padding-bottom:40px">
    <div>
        <legend>@Model.BaseTask.Name</legend>
    </div>        
    <p><b>@Model.BaseTask.Description</b></p>
     @{
            Markdown md = new Markdown();
            var showText = Model.BaseTask.Text;
            showText = md.Transform(showText);
    }
    @Html.Raw(System.Web.HttpUtility.HtmlDecode(showText))
    <div class="pull-right">
        @{
        string ocKey = "log_" + System.Web.HttpContext.Current.GetHashCode().ToString("x");
        BL_Interfaces.ILogics logics = System.Web.HttpContext.Current.Items[ocKey] as BL_Interfaces.ILogics;
        var currentUser = Membership.GetUser() != null ? Membership.GetUser().UserName : null;
        if (logics.Database.LikeRepository.FirstOrDefault(l => l.Task.Id == Model.Id && l.User.Login == currentUser) != null)
        {
            <button class="btn btn-mini like active" style="min-width:25px; margin-bottom: 10px" data-toggle="button" data-url="@Url.Action("Like", "Shared", new { id = Model.Id })">
                <i class="icon-thumbs-up"></i>
                <b>@Model.BaseTask.Likes.Count</b>
            </button>
        }
        else
        {
            <button class="btn btn-mini like" style="min-width:25px; margin-bottom: 10px" data-toggle="button" data-url="@Url.Action("Like", "Shared", new { id = Model.Id })">
                <i class="icon-thumbs-up"></i>
                <b>@Model.BaseTask.Likes.Count</b>
            </button>
        }
    }
    </div>
</div>
<div class="well span3" style="margin-left:35px">
    <div style="margin-bottom:5px">
        <i class="icon-user"></i>
        @Html.ActionLink(Model.BaseTask.Author.Login, "Users", new { name = Model.BaseTask.Author.Login })
    </div>
    <div style="margin-bottom:5px">
        <i class="icon-briefcase"></i>
        @Html.ActionLink(Model.BaseTask.Technology.Name, "Technology", new { name = Model.BaseTask.Technology.Name })
    </div>
    <div style="margin-bottom:5px">
        <i class="icon-time"></i>
        @Model.BaseTask.PostDate.ToUniversalTime()
    </div>
</div>
<div class="span3" style="margin-left:44px">
</div>
<div class="span11" id="myanswer" style="margin:35px">
    @{Html.RenderPartial("Answer", Model);}
</div>

