﻿@using BusinessEntities
@model BusinessEntities.User
@{
    ViewBag.Title = Model.Login;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span5 well" style="margin-top:20px">
    <legend>@ViewsResources.SharedStrings.Bio</legend>
    <h5><i class="icon-user"></i> @Model.Login</h5>
    <p><i class="icon-envelope"></i> @Model.Email</p>
</div>
@if(Model.Tasks.Count != 0){
<div class="span11 well">
    <legend style="margin-bottom:0px">@ViewsResources.SharedStrings.Tasks</legend>
    <table class="table table-striped" style="margin-bottom:0px">
        <thead>
            <tr>
                <th><i class="icon-thumbs-up"></i></th>
                <th>@ViewsResources.SharedStrings.Task</th>
                <th>@ViewsResources.SharedStrings.Solved</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Task usertask in Model.Tasks)
            {
                <tr>
                    <td>@usertask.Likes.Count</td> 
                    <td>@Html.ActionLink(usertask.Name, "Task", new {name = usertask.NameForLink })</td>
                    <td>@usertask.UsersSolved.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
@if(Model.SolvedTasks.Count != 0)
{
<div class="span11 well">
    <legend style="margin-bottom:0px">@ViewsResources.SharedStrings.Solved_Tasks</legend>
    <table class="table table-striped" style="margin-bottom:0px">
        <thead>
            <tr>
                <th><i class="icon-thumbs-up"></i></th>
                <th>@ViewsResources.SharedStrings.Task</th>
                <th>@ViewsResources.SharedStrings.Solved</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Task usertask in Model.SolvedTasks)
            {
                <tr>
                    <td>@usertask.Likes.Count</td> 
                    <td>@Html.ActionLink(usertask.Name, "Task", new {name = usertask.NameForLink })</td>
                    <td>@usertask.UsersSolved.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

