﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span3">
    <div class="well" style="padding:0px; margin-top:35px; border-width:0px">
        <ul class="nav nav-tabs nav-stacked" style="margin-bottom:0px">
            @if(Roles.IsUserInRole("Administrator"))
            {
                <li>
                    @Html.ActionLink(ViewsResources.SharedStrings.Admin, "Index", "Admin")
                </li>
            }
            <li>
                @Html.ActionLink(ViewsResources.SharedStrings.Settings, "Settings")
            </li>
            <li>
                @Html.ActionLink(ViewsResources.SharedStrings.My_tasks, "UserTasks")
            </li>
            <li>
                @Html.ActionLink(ViewsResources.SharedStrings.My_drafts, "UserDrafts")
            </li>
            <li>
                @Html.ActionLink(ViewsResources.SharedStrings.Solved_Tasks, "SolvedTasks")
            </li>
        </ul>
    </div>
    @Html.ActionLink(ViewsResources.SharedStrings.Create_task, "CreateTask", null, new { @class = "btn btn-block", color = "rgb(119, 119, 119)" })
</div>
<div class="span8" style="width:660px">
    @RenderBody()
</div>