﻿@model MVC_UI.Models.DraftModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/User/_UserLayout.cshtml";
}
<script type="text/javascript">
    function onfailure() {
        alert("fail");
    }
    $(document).ready(function () {
        $('#markdown').markItUp(mySettings);
        $('.edit').keyup(function() {
            $('#publish').attr("disabled", "disabled");
            $('#publish').removeAttr("href");
        });
        $('#drop').change(function() {
            $('#publish').attr("disabled", "disabled");
            $('#publish').removeAttr("href");
        });
        $('.tech-typehead').typeahead({
            source: function (query, process) {
                return $.get('/Admin/TechTypeahead/', { name: name }, function (data) {
                    return process(data.options);
                });
            }
        });
        $('.tag-typehead').typeahead({
            source: function (query, process) {
                return $.get('/Admin/TagTypeahead/', { name: name }, function (data) {
                    return process(data.options);
                });
            }
        });
    });  
</script>
<div class="well" style="margin-top:35px; padding-bottom:5px">
    @using(Html.BeginForm("SaveDraft", "User", FormMethod.Post))
    {
        <div class="span8" style="margin-left:0px">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.OriginalId)
            <label>@ViewsResources.SharedStrings.Name</label>
            @Html.TextBoxFor(m => m.Name, new { placeholder = ViewsResources.SharedStrings.Name, @class = "span8 edit" })
            <label>@ViewsResources.SharedStrings.Description</label> 
            @Html.TextAreaFor(m => m.Description, new { placeholder = ViewsResources.SharedStrings.Description, @class = "span8 edit", style = "resize:vertical" })
            <label>@ViewsResources.SharedStrings.Text</label>
            @Html.TextAreaFor(m => m.Text, new { id = "markdown", placeholder = ViewsResources.SharedStrings.Text, style = "resize:none", @class = "edit" })
            <div class="span4" style="margin-left:0px">
                <label>@ViewsResources.SharedStrings.Technology</label>
                @Html.TextBoxFor(m => m.TechnologyName, new { type="text", @class="span4 edit tech-typehead", autocomplete="off", placeholder=ViewsResources.SharedStrings.Technology })
            </div>
            <div class="span4">
                <label>@ViewsResources.SharedStrings.Language</label>
                @{
                    String[] languages = {"Русский", "English"};
                    if (Model.Language != null && Model.Language.Name == "English")
                    {
                        languages.Reverse();
                    }
                    @Html.DropDownListFor(m => m.LocaleLanguage, new SelectList( new List<String>(languages) ), new { @class = "span4", id = "drop" })
                }
            </div>
        </div>
        <div class="span8" style="margin-left:0px">
            <label>@ViewsResources.SharedStrings.Tags</label>
            @Html.TextBoxFor(m => m.TagName, new { type="text", @class="span4 edit tag-typehead", autocomplete="off", placeholder= ViewsResources.SharedStrings.Tag })
            <input type="submit" value="@ViewsResources.SharedStrings.Add" class = "btn" style = "vertical-align:top; padding:5px 14px" />
        </div>
        <div class="span8" style="margin-left:0px">
            <div class="span4" style="margin-left:0px">
                <table class="table table-striped">
                    <tbody>
                        @foreach(var tag in Model.TagList) {
                        <tr>
                            <td class="span3">@tag</td>
                            <td>@Html.ActionLink(
                                    ViewsResources.SharedStrings.Delete, 
                                    "DeleteTag", 
                                    new { tag = tag, draftId = Model.Id })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="span8" style="margin-left:0px">
            <label>@ViewsResources.SharedStrings.Answers</label>
            @Html.TextBoxFor(m => m.AnswerName, new { type = "text", @class="span4 edit", placeholder=ViewsResources.SharedStrings.Answer })
            <input type="submit" value="@ViewsResources.SharedStrings.Add" class = "btn" style = "vertical-align:top; padding:5px 14px" />
        </div>
        <div class="span8" style="margin-left:0px">
            <div class="span4" style="margin-left:0px">
                <table class="table table-striped">
                    <tbody>
                        @foreach(var answer in Model.AnswerList) {
                        <tr>
                            <td class="span7">@answer</td>
                            <td>@Html.ActionLink(
                                    ViewsResources.SharedStrings.Delete, 
                                    "DeleteAnswer",
                                    new { answer = answer, draftId = Model.Id })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <input id="save" type="submit" style = "padding:5px 14px" class="btn" value="@ViewsResources.SharedStrings.Save_in_draft" />
        @Html.ActionLink(ViewsResources.SharedStrings.Publish_task, 
        "PublishTask", "User", new { id = Model.Id }, new { @class = "btn", id="publish"})
        <a href="#" id="saving" style="display:none; padding-left:5px">@ViewsResources.SharedStrings.Saving</a>
        <div id="summary">
            @Html.ValidationSummary(null, new { @class = "alert alert-error", style = "margin-top:15px" })
        </div>
        if (ViewData["success"] != null)
        {
            <div class="alert alert-success" style="margin-top:15px">
                @ViewData["success"].ToString()
            </div>
        } 
    }
</div>