﻿@model MVC_UI.Models.UserModel
@{
    ViewBag.Title = ViewsResources.SharedStrings.Settings;
    Layout = "~/Views/User/_UserLayout.cshtml";
}

<div class="well" style="margin-top:35px">
    <legend>@ViewsResources.SharedStrings.Settings</legend>
    @using (Html.BeginForm("SaveUser", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    { 
        @Html.HiddenFor(m => m.UserId)
        @Html.ValidationSummary(null, new { @class = "alert alert-error" })
        if(TempData["success"] != null)
        {
        <div class="alert alert-success">
            @TempData["success"].ToString();
        </div>
        }
        <div class="control-group">
            <label class="control-label">@ViewsResources.SharedStrings.Login</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Login, new { type = "text", placeholder = ViewsResources.SharedStrings.Login})
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@ViewsResources.SharedStrings.Old_password</label>
            <div class="controls">
                @Html.TextBox("oldpassword", null, new { type = "password", placeholder = ViewsResources.SharedStrings.Old_password})
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@ViewsResources.SharedStrings.New_password</label>
            <div class="controls">
                @Html.TextBox("newpassword", null, new { type = "password", placeholder = ViewsResources.SharedStrings.New_password})
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">E-mail</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Email, new { type = "text", placeholder = "E-mail"})
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@ViewsResources.SharedStrings.Language</label>
            <div class="controls">
                @{
                String[] languages = {"Русский", "English"};
                if (Model.Language != null && Model.Language.Name == "English")
                {
                    languages.Reverse();
                }
                @Html.DropDownListFor(m => m.LanguageLocale, new SelectList( new List<String>(languages) ))
            }
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">@ViewsResources.SharedStrings.Save_changes</button>
            </div>
        </div>
    }
    <legend></legend>
    @Html.ActionLink(ViewsResources.SharedStrings.Delete_account, "DeleteAccount", new{@class = "btn"}) 
</div>
