﻿@using BusinessEntities
@using MarkdownSharp;
@model IEnumerable<BusinessEntities.Task>
@{
    ViewBag.Title = ViewsResources.SharedStrings.Tasks;
    Layout = "~/Views/User/_UserLayout.cshtml";
}
@foreach(Task task in Model)
{
<div style="margin-top: 35px">
    <div class="well well-task">   
        <legend>@Html.ActionLink(task.Name, "Task", "Shared", new {name = task.NameForLink }, new { style = "color:grey" })</legend>       
        <p><b>@task.Description</b></p>
        @{
             Markdown md = new Markdown();
             var showText = task.Text;
             showText = md.Transform(showText);
        }
        @Html.Raw(System.Web.HttpUtility.HtmlDecode(showText))
    </div>  
    <div class="alert alert-info alert-bottom">
        <div class="pull-right">
            @{
                string ocKey = "log_" + System.Web.HttpContext.Current.GetHashCode().ToString("x");
                BL_Interfaces.ILogics logics = System.Web.HttpContext.Current.Items[ocKey] as BL_Interfaces.ILogics;
                var currentUser = Membership.GetUser() != null ? Membership.GetUser().UserName : null;
                if (currentUser == null)
                {
                    <button class="btn btn-mini like" disabled="disabled" style="min-width:25px; vertical-align:middle" data-toggle="button" data-url="@Url.Action("Like", "Shared", new { id = task.Id })">
                        <i class="icon-thumbs-up"></i>
                        <b>@task.Likes.Count</b>
                    </button>
                }
                else if (logics.Database.LikeRepository.FirstOrDefault(l => l.Task.Id == task.Id && l.User.Login == currentUser) != null)
                {
                    <button class="btn btn-mini like active" style="min-width:25px; vertical-align:middle" data-toggle="button" data-url="@Url.Action("Like", "Shared", new { id = task.Id })">
                        <i class="icon-thumbs-up"></i>
                        <b>@task.Likes.Count</b>
                    </button>
                }
                else
                {
                    <button class="btn btn-mini like" style="min-width:25px; vertical-align:middle" data-toggle="button" data-url="@Url.Action("Like", "Shared", new { id = task.Id })">
                        <i class="icon-thumbs-up"></i>
                        <b>@task.Likes.Count</b>
                    </button>
                }
              }
        </div>
        <div class="span2 pull-right">
            <i class="icon-user"></i>
            @Html.ActionLink(task.Author.Login, "Users", "Shared", new { name = task.Author.Login })
        </div>
        <div class="span2 pull-right">
            <i class="icon-briefcase"></i>
            @Html.ActionLink(task.Technology.Name, "Technology", "Shared", new { name = task.Technology.Name })
        </div>
        </div>
</div>
}
