﻿@using BusinessEntities
@using MarkdownSharp;
@model BusinessEntities.User
@{
    ViewBag.Title = ViewsResources.SharedStrings.My_tasks;
    Layout = "~/Views/User/_UserLayout.cshtml";
}

@foreach(Task task in Model.Tasks)
{
<div style="margin-top: 35px">
    <div class="alert alert-info alert-top">        
        @Html.ActionLink(ViewsResources.SharedStrings.Delete, "DeleteTask", new { name = task.NameForLink }, new { @class = "pull-right" })
        @Html.ActionLink(ViewsResources.SharedStrings.Edit, "EditDraft", new { name = task.NameForLink }, new {style = "margin-right:15px", @class = "pull-right"})        
    </div>
    <div class="well well-usertask">   
        <legend>@Html.ActionLink(task.Name, "Task", "Shared", new {name = task.NameForLink }, new { style = "color:grey" })</legend>       
        <p><b>@task.Description</b></p>
        @{
             Markdown md = new Markdown();
             var showText = task.Text;
             showText = md.Transform(showText);
        }
        @Html.Raw(System.Web.HttpUtility.HtmlDecode(showText))
    </div> 
    <div class="alert alert-info alert-bottom">
        <div class="span5" style="margin-left: 0px">
            <i class="icon-tags"></i>
            @foreach(Tag tag in task.Tags)
            {
                @Html.ActionLink(tag.Text, "Tag", "Shared", new { name = tag.Text }, null)
                if(task.Tags.ElementAt(task.Tags.Count - 1) != tag)
                {   
                    <i style="margin-right:5px">,</i>
                }
            }
        </div>
        <div class="pull-right">
            <i class="icon-thumbs-up"></i>
            <b>@task.Likes.Count</b>
        </div>
        <div class="span2 pull-right">
            <i class="icon-briefcase"></i>
            @Html.ActionLink(task.Technology.Name, "Technology", "Shared", new { name = task.Technology.Name }, null)
        </div>
    </div>
</div>
}