﻿@using BusinessEntities
@using MarkdownSharp;
@model BusinessEntities.User
@{
    ViewBag.Title = ViewsResources.SharedStrings.My_drafts;
    Layout = "~/Views/User/_UserLayout.cshtml";
}

@foreach(Draft draft in Model.Drafts)
{
<div style="margin-top: 35px">
    <div class="alert alert-info alert-top">        
        @Html.ActionLink(ViewsResources.SharedStrings.Delete, "DeleteDraft", new { name = draft.NameForLink }, new { @class = "pull-right" })
        @Html.ActionLink(ViewsResources.SharedStrings.Edit, "EditDraft", new { name = draft.NameForLink }, new {style = "margin-right:15px", @class = "pull-right"})        
    </div>
    <div class="well well-usertask">   
        <legend>@Html.ActionLink(draft.Name, "EditDraft", new {name = draft.NameForLink }, new { style = "color:grey" })</legend>       
        <p><b>@draft.Description</b></p>
        @{
             Markdown md = new Markdown();
             var showText = draft.Text;
             showText = md.Transform(showText);
        }
        @Html.Raw(System.Web.HttpUtility.HtmlDecode(showText))
    </div>  
    <div class="alert alert-info alert-bottom">
        <div class="span5" style="margin-left: 0px">
            <i class="icon-tags"></i>
            @foreach(Tag tag in draft.Tags)
            {
                @Html.ActionLink(tag.Text, "Tag", "Shared", new { name = tag.Text }, null)
                if(draft.Tags.ElementAt(draft.Tags.Count - 1) != tag)
                {   
                    <i style="margin-right:5px">,</i>
                }
            }
        </div>
        <div class="span2 pull-right">
            <i class="icon-briefcase"></i>
            @Html.ActionLink(draft.Technology.Name, "Technology", "Shared", new { name = draft.Technology.Name }, null)
        </div>
    </div>
</div>
}