.container-white {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.body-black {
    background-image: linear-gradient(right , rgb(33,33,33) 0%, rgb(168,168,168) 50%, rgb(33,33,33) 100%);
    background-image: -o-linear-gradient(right , rgb(33,33,33) 0%, rgb(168,168,168) 50%, rgb(33,33,33) 100%);
    background-image: -moz-linear-gradient(right , rgb(33,33,33) 0%, rgb(168,168,168) 50%, rgb(33,33,33) 100%);
    background-image: -webkit-linear-gradient(right , rgb(33,33,33) 0%, rgb(168,168,168) 50%, rgb(33,33,33) 100%);
    background-image: -ms-linear-gradient(right , rgb(33,33,33) 0%, rgb(168,168,168) 50%, rgb(33,33,33) 100%);

    background-image: -webkit-gradient(
	    linear,
	    right top,
	    left top,
	    color-stop(0, rgb(33,33,33)),
	    color-stop(0.5, rgb(168,168,168)),
	    color-stop(1, rgb(33,33,33))
    );
}
.body-white {
    background-image: linear-gradient(right , rgb(207,209,186) 0%, rgb(237,237,237) 50%, rgb(207,209,186) 100%);
    background-image: -o-linear-gradient(right , rgb(207,209,186) 0%, rgb(237,237,237) 50%, rgb(207,209,186) 100%);
    background-image: -moz-linear-gradient(right , rgb(207,209,186) 0%, rgb(237,237,237) 50%, rgb(207,209,186) 100%);
    background-image: -webkit-linear-gradient(right , rgb(207,209,186) 0%, rgb(237,237,237) 50%, rgb(207,209,186) 100%);
    background-image: -ms-linear-gradient(right , rgb(207,209,186) 0%, rgb(237,237,237) 50%, rgb(207,209,186) 100%);

    background-image: -webkit-gradient(
	    linear,
	    right top,
	    left top,
	    color-stop(0, rgb(207,209,186)),
	    color-stop(0.5, rgb(237,237,237)),
	    color-stop(1, rgb(207,209,186))
    );
}
.taskdiv {
    margin-bottom: 10px;
    margin-top: 10px;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #b94a48;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
