﻿@using MVC_UI.Resources.Views
@model MVC_UI.Models.UserModel

<div class="alert" id="edit-status" style="display:none"></div>

@using (Html.BeginForm("Save", "Admin", FormMethod.Post, new { @class = "form-horizontal", id = "userEditForm" }))
{
    <div class="control-group">
        <label class="control-label">@AdminPageStrings.Login</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Login, new {placeholder = AdminPageStrings.Login, type = "text"})
            @Html.ValidationMessageFor(m => m.Login)
        </div>
    </div> 

    <div class="control-group">
        <label class="control-label">@AdminPageStrings.Email</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Email, new {placeholder = AdminPageStrings.Email, type = "email"})
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@AdminPageStrings.Password</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Password, new {placeholder = AdminPageStrings.Password, type = "password"})
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@ViewsResources.SharedStrings.Language</label>
        <div class="controls">
            @Html.DropDownListFor(m => m.LanguageLocale, Model.Languages)
        </div>
    </div>
    @Html.HiddenFor(m => m.UserId)
    <button type="submit" class="submit-changes btn btn-success" style="margin-left: 180px">@AdminPageStrings.SaveChangesButton</button>
    
}
