﻿@using MVC_UI.Resources.Views
@using ModelsResources
@using ViewsResources
@model IEnumerable<BusinessEntities.User>

@{
    ViewBag.Title = AdminPageStrings.PageTitle;
}

<script type="text/javascript">
    function loadUsers() {
        $("#result").load("@Url.Action("UsersList")");
    };
    
    function loadPage() {
        var page = $("#page-number").html();
        $("#result").load("@Url.Action("UsersList")" + "/" + page.toString());
    }

    $(function () {
        loadUsers();
        setInterval("loadPage()", 5000);

        $(document).on("submit", "form", function(e) {
            e.preventDefault();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    $('#edit-status').show();
                    $('#edit-status').html(result);
                }
            });
            return false;
        });
        
        $(document).on("click", ".page-button", function (e) {
            e.preventDefault();
            var url = $(this).attr("data-url");
            $("#result").load(url);
            return false;
        });

        $(document).on("click", ".approve", function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("data-url"),
                success: function (data) {
                    $('#myModal').modal('show');
                    $("#error-text").text(data.value);
                }
            });
            return false;
        });

        $(document).on("click", ".remove", function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("data-url"),
                success: function (data) {
                    $('#myModal').modal('show');
                    $("#error-text").text(data.value);
                }
            });
            return false;
        });

        $(document).on("click", ".edit", function (e) {
            e.preventDefault();
            $('#editUserModal').modal('show');
            $('#editUserBody').load($(this).attr("data-url"), {}, function () {
                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');
            });
            return false;
        });
    });
</script>

<div class="span11 well">
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">@AdminPageStrings.UserManageMessage</h3>
        </div>
        <div class="modal-body">
            <p id="error-text"></p>
        </div>
    </div>

    <div id="editUserModal" class="modal hide fade" tabindex="-1" role="dialog"
        aria-labelledby="editUserLabel" aria-hidden="true" style="margin-left: -350px; width: 600px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editUserLabel">@AdminPageStrings.EditUserText</h3>
        </div>
        <div id="editUserBody" class="modal-body">
        </div>
    </div>

    <h3>@AdminPageStrings.ListOfUsers</h3>
    <div id="result"></div>
</div>
