﻿@using MVC_UI.Resources.Views
@model IEnumerable<BusinessEntities.User>

@{
    
}

<table class="table table-bordered table-striped">
    <tr>
        <td>@AdminPageStrings.Login</td>
        <td>E-mail</td>
        <td>@AdminPageStrings.IsApproved</td>
        <td>@AdminPageStrings.AdminActions</td>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Login</td>
            <td>@user.Email</td>
            <td>
                @if (!user.IsApproved)
                {
                    <button class="btn btn-mini approve btn-info" style="min-width:25px;" 
                            data-url="@Url.Action("Approve", "Admin", new { name = user.Login })">
                        @AdminPageStrings.ApproveUserButton</button>
                }
                else
                {
                    @AdminPageStrings.Yes
                }
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-mini remove @(user.IsRemoved ? "" : "remove btn-danger")" style="min-width: 25px;" 
                            data-url="@Url.Action("Remove", "Admin", new { name = user.Login })">
                        @(user.IsRemoved ? AdminPageStrings.RecoverUserButton : AdminPageStrings.RemoveUserButton)</button>
                    <button class="btn btn-mini edit btn-warning" style="min-width: 25px;" 
                            data-url="@Url.Action("Edit", "Admin", new { name = user.Login })">
                        @AdminPageStrings.EditUserButton</button>
                </div>
            </td>
        </tr>
    }
</table>

@{
    int page = (int) ViewData["Page"];
    }

<span id="page-number" style="display:none;">@page</span>
    
    <div class="pagination">
        <ul>
        @foreach(var tuple in (IEnumerable<Tuple<string, string>>)ViewData["Pager"])
        {
            <li class="@(tuple.Item1 == page.ToString() ? "disabled" : "")"><a class="page-button" href="#" data-url="@Url.Action("UsersList", "Admin", new { page = tuple.Item2 })">@tuple.Item1</a></li>
        }
       </ul>
    </div>
