﻿@model System.Collections.Generic.IEnumerable<BusinessEntities.Task>

@{
int page = (int)ViewData["Page"];
}

@{ Html.RenderPartial("TasksPartial", Model); }

<span id="page-number" style="display: none;">@page</span>

<div class="pagination" style="margin-left: 35px;">
    <ul>
        @foreach (var tuple in (IEnumerable<Tuple<string, string>>)ViewData["Pager"])
        {
            string cl = tuple.Item1 == page.ToString() ? "disabled" : "";
                
            <li class="@cl"><a class="page-button" href="#" data-url="@Url.Action("PagedTasks", "Admin", new { page = tuple.Item2 })">@tuple.Item1</a></li>
        }
    </ul>
</div>