﻿@using MVC_UI.Resources.Views
@model System.Collections.Generic.IEnumerable<BusinessEntities.Task>

<div style="margin-top: 35px; margin-left:35px">
    <legend style="color: gray">@AdminPageStrings.PopularTasks</legend>
    <table style="height:310px" class="table table-striped">
    @foreach(var task in Model)
    {
        <tr>
            <td width="190px">@Html.ActionLink(task.Name, "Task", "Shared", new {name = task.NameForLink}, null)</td>
            <td width="70px">@Html.ActionLink(task.Author.Login, "Users", "Shared", new {name = task.Author.Login}, null)</td>
        </tr>
    }
    </table>
</div>